* {
  dark-primary-color: #663425;
  default-primary-color: #795548;
  light-primary-color: #c9c8d7;
  text-primary-color: #ffffff;
  accent-color: #536dfe;
  primary-text-color: #212121;
  secondary-text-color: #390888;
  divider-color: #bdbdbd;
}

.text-image {
  -fx-effect: dropshadow(three-pass-box, rgba(255, 185, 0, 0.8), 5, 0, 0, 0);
}

.button-selected {
  -fx-effect: dropshadow(one-pass-box, rgb(255, 0, 0), 50, 0, 0, 0);
}

.overlay {
  -fx-background-color: rgb(0, 0, 0, 0.8);
}

.split-pane *.split-pane-divider {
  -fx-padding: 0 0 0 0;
}

.list-view {
  -fx-opacity: 1;
  -fx-background-color: #222222;
}

.list-cell {
  -fx-alignment: center-left;
  -fx-cell-size: 50;
  -fx-font-size: 20;
  -fx-background-color: transparent;
  -fx-text-fill: white;
  -fx-opacity: 1;
}

.list-cell:selected {
  -fx-background-color: #1a1a1a;
  -fx-text-fill: #fdd700;
}
